@media screen and (max-width: 600px) {
    h1 {
      font-size: 2.5rem !important;
    }

    .lead {
      font-size: 1rem !important;
    }

    .btn {
      font-size: 0.8rem !important;
      padding: 0.5rem 1rem !important;
    }

    .light-text {
      font-size: 0.8rem !important;
    }

    .d-flex {
      background-image: none;
    }
  }